<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">실시간 휴게소 명품 먹거리</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">한국공사추천</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">회원가입</a>
                    </li>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="검색" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">검색</button>
                    </form>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                            상품 관리자-->
<!--                        </a>-->
<!--&lt;!&ndash;                        <ul class="dropdown-menu">&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a class="dropdown-item" href="#">한국공사추천</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a class="dropdown-item" href="#">상품관리(목록)</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><hr class="dropdown-divider"></li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <li><a class="dropdown-item" href="#">Something else here</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                            마이페이지-->
<!--                        </a>-->
<!--                        <ul class="dropdown-menu">-->
<!--                            <li><a class="dropdown-item" href="#">장바구니</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">구매이력</a></li>-->
<!--                            <li><hr class="dropdown-divider"></li>-->
<!--                            <li><a class="dropdown-item" href="#">나의 정보</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">로그인</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">로그아웃</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
</th:block>


</body>
</html>